<div class="color"> 
    <div class="row"> 
        <div class="amr col-md-6"> 
            <div class="card text-left"> 
                <div class="card-body"> 
                    <h1>REGISTRO</h1>
                    <br>
                    <div class="ima">
                        <img src="../../../assets/cuadrado.jpg" style="max-width: 100%; height: auto;" alt="Logo">
                        <br>
                    </div>
                    <div class="row"> 
                        <div class="col-md-6"> 
                            <input type="text" class="form form-control form-control-lg mt-3" name="nombre" value="" placeholder="Nombre"> 
                        </div>  
                        <div class="col-md-6">  
                            <input type="text" class="form form-control form-control-lg mt-3" name="apellido" value="" placeholder="Apellido"> 
                        </div>  
                    </div> 
                    <div class="row"> 
                        <div class="col-md-6"> 
                            <select class="form form-select form-select-lg mt-3" aria-label="Default select example"> 
                                <option selected>Tipo Documento</option> 
                                <option value="1">TI</option> 
                                <option value="2">CC</option> 
                                <option value="3">CE</option> 
                            </select>
                        </div> 
                        <div class="col-md-6"> 
                            <input type="Number" class="form form-control form-control-lg mt-3" name="id" value="" placeholder="Documento"> 
                        </div> 
                    </div> 
                    <div class="row"> 
                        <div class="col-md-6"> 
                            <input type="date" class="date form-control form-control-lg mt-3" name="date" value="" placeholder="Fecha de nacimiento"> 
                        </div>  
                        <div class="col-md-6">  
                            <input type="number" class="form form-control form-control-lg mt-3" name="telefono" value="" placeholder="Número de celular"> 
                        </div>  
                    </div>
                    <div class="fila row"> 
                        <div class="col-md-4"> 
                            <select class="form form-select form-select-lg mt-3" aria-label="Default select example"> 
                                <option selected>País</option> 
                                <option value="1">Colombia</option> 
                            </select>
                        </div>  
                        <div class="col-md-4">  
                            <select class="form form-select form-select-lg mt-3" aria-label="Default select example"> 
                                <option selected>Departamento</option> 
                                <option value="1">Valle del Cauca</option> 
                            </select>
                        </div>  
                        <div class="col-md-4">  
                            <select class="form form-select form-select-lg mt-3" aria-label="Default select example"> 
                                <option selected>Ciudad</option> 
                                <option value="1">Cali</option> 
                            </select>
                        </div> 
                    </div>
                    <div class="butum mt-5">
                        <button type="text" class="butum btn btn-secondary btn-lg" style="margin: 3mm;" routerLink="/carga">Volver</button>
                        <button type="sudmit" class="butum btn btn-dark btn-lg">Agregar</button>
                    </div>
                </div> 
            </div> 
        </div> 
        <div class="amr col-md-6" style="float: inline-end;">
            <div class="ima">
                <img src="../../../assets/cuadrado.jpg" style="max-width: 100%; height: auto;" alt="Logo">
            </div>
        </div>
    </div> 
</div>  
